moode_def.sqlite
base_datos/config.yaml
menu_blogs/mpv/lastfm_credentials.py
actualizaciones/scripts_config.json
config.json
.content
base_datos/config_database_creator.json
modules/__pycache__
menu_blogs/mpv/lastfm_credentials.py
config.json
modules/__pycache__
.content/**
.content/*
.content/cache/token
base_datos/config_database_creator.json
.cache
**/__pycache__/
base_datos/FLAC_config_database_creator.json
lyrics_update_errors.log
lyrics_update_state_normal.json
moode_def.sqlite-shm
moode_def.sqlite-wal
test
base_datos/musica.sqlite
config/config.yml
base_datos/musica.sqlite-shm
base_datos/musica.sqlite-wal
test.mb
test.mb-shm
test.mb-wal
tools/scripts_config.json
tools/script_runner_settings.json
.content/antiguo/config/config.yml
db/FLAC_config_database_creator.json
db/config_database_creator.json
db/node_modules/
db/musica.sqlite_backup_1745340022
db/musica.sqlite_backup_1745340080
